<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Publisher</title>
    <meta name="viewport" content="width=device-width" />
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/Site.css?20161128111027" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")

    @RenderSection("header_scripts", required: false)
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Publish")</li>
                        <li>@Html.ActionLink("Publish", "Index", "Publish")</li>
                        <li>@Html.ActionLink("BackupFiles", "Backup", "Publish")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - TEST</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>